.idea
build
coverage
node_modules
.env
*.env
.vscode
client/dist

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
/package-lock.json

/log
*.log

/docs/icons/*
!/docs/icons/*.zip
