<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="project" href="/tabs/project">
      <ion-icon aria-hidden="true" name="create-outline"></ion-icon>
      <ion-label>Add Project</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="projects-list" href="/tabs/projects-list">
      <ion-icon aria-hidden="true" name="list-outline"></ion-icon>
      <ion-label>Projects</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="camera" href="/tabs/camera">
      <ion-icon aria-hidden="true" name="camera"></ion-icon>
      <ion-label>Camera</ion-label>
    </ion-tab-button> -->

  </ion-tab-bar>

</ion-tabs>
